body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  position:fixed;
}

/*#map-container {
  width: 100%; 
  height: 100%;
  position:fixed;
  text-align:center;
  padding: 40px 15px;
}
*/
#map {
  width: 350px; 
  height: 350px; 
  margin:0px auto; 
  display:inline-block;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}

#fields {
  text-align: left; 
}

#values {
  text-align: left;
}
